---
const GITHUB_API_URL = "https://api.github.com/repos";
const REPO_OWNER = "web-fragments";
const REPO_NAME = "web-fragments"; // we likely need a token since this is randomly returning a 403 

const fetchContributors = async () => {
  const response = await fetch(`${GITHUB_API_URL}/${REPO_OWNER}/${REPO_NAME}/contributors`, {
    headers: {
      Accept: 'application/vnd.github.v3+json',
    },
  });

  if (!response.ok) {
    throw new Error(`GitHub API Error: ${response.status}`);
  }

  return await response.json();
};

const contributors = await fetchContributors();
---

<section>
  <p>Web Fragments is the 4th iteration on an idea initially brought to life and developed by <a href="https://angular.io">Angular</a> co-creator and ex- uber tech lead, <a href="https://igor.dev">Igor Minar</a>. As a fully open-source project, it us now developed by open-source contributors, with the support of Cloudflare and other vendors, like Microsoft, Netlify and Block.</p>
  <ul class="contributorList">
    {contributors.map(contributor => (
      <li>
        <a href={contributor.html_url} target="_blank" rel="noopener noreferrer">
          <img src={contributor.avatar_url} alt={`${contributor.login}'s avatar`} width="50" />
          {contributor.login}
        </a>
      </li>
    ))}
  </ul>
  Want to join us? Read our <a href="/contributing/guidelines">Contribution Guidelines</a> and <a href="/contributing/coc">CoC</a>.
</section>
